<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/logged.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/images/nestIcon.png">
    </div>
    <div class="content-container">
        <div class="users">
<!--            <div class="user-box">-->
<!--                <div class="image-container">-->
<!--                    <img class="user-image" src="/images/profilePhotos/fcsb1947.png">-->
<!--                </div>-->
<!--                <div class="text-container">-->
<!--                    <div class="user-text"> todor123 </div>-->
<!--                </div>-->
<!--                <div class="button-container">-->
<!--                    <button class="friend-button"> Add friend </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="feed">
            <div class="make-post">
                <img class="image" id="image1">
                <input type="text" id="postInput" class="input post" placeholder="">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.5.0/dist/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="module" src="/js/logged.js"></script>
</body>
</html>