<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
<img src="/images/NestworkBwLogo.png" class="image">
<div class="form">
    <div class="input-group">
        <input required="" id="user" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Username</label>
    </div>
    <div class="input-group">
        <input required="" id="password" type="password" name="text" autocomplete="off" class="input">
        <label class="user-label">Password</label>
    </div>
</div>
<div class="button-container">
    <button id="log"> Login </button>
    <button id="sign"> Sign in </button>
</div>
<script src="/js/login.js"></script>
</body>
</html>